/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

.main-body{
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   height: 90vh;
}

.main-body > div{
   display: flex;
   flex-direction: column;
   min-height: 90vh;
}

.header-search-bar-form{
   position: relative;
   border: 1px solid lightgray;
   border-radius: 5px;
   padding-right: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.header-search-bar-div{
   padding: 10px 0px;
   width: 40%;
   display: flex;
   flex-direction: row;
}

.header-search-bar-input{
   color: #858585;
   width: 100%;
   line-height: 20px;
   height: 24px;
   padding-left: 8px;
   padding-right: 8px;
   font-size: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar-left{
   display:flex;
   flex-direction: row;
   align-items: center;
}

.navbar-left i{
   font-size: 26px;
   padding: 0px 10px;
   color: white;
}

 .navbar-header{
     background-color: #ed1c40;
     position: relative;
     display: flex;
     height: 8vh;
     padding: 0px 10px;
     justify-content: space-between;
     font-size: 16px;
     border-bottom: 1px lightgray solid;
     align-items: center;
 }

 .navbar-logo{
    width: auto;
    height: 50px;
    cursor: pointer;
 }


 .navbar-right{
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: space-between;
     width: 50%;
     max-width: 550px;
 }


 .navbar-group-link{
    text-decoration: none;
    color: white;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: bold;
    cursor: pointer;

 }

 .navbar-explore-link{
    text-decoration: none;
    color: white;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: 500;
    
 }

 .navbar-startgroup-link{
    text-decoration: none;
    color: #ed1c40;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: bold;
    font-weight: 500;
 }

.navbar-login-signup-link{
    text-decoration: none;
    color: white;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: 500;
}

 .navbar-dropdown{
    padding-left:5px ;
    padding-right: 5px ;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
 }

 .landing{
   margin-top: 15px;
   padding: 0px 20px;
   display: flex;
   margin: 0 auto;
   max-width: 1100px;
   min-width: 900px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%; 
   min-height: auto;
 }

 .landing-banner{
   margin: 40px 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .landing-banner-left{
    flex-grow: 3;
    margin-right: 20px; 
 }

 .landing-banner-right{
   flex-grow: 2
 }

 .landing-banner-right-image{
    border-radius: 10px;
 }
 

.landing-footer{
   display: flex;
   width: 98%;
   margin: 0 auto;
   margin-left: 0px;
   justify-content: center;
   margin-top: 30px;
   flex-direction: row;
   box-sizing: border-box;
   padding: 0px;
}

.landing-footer-left{
   padding: 0px;
   display: block;
   width: 100%;
   box-sizing: border-box;
   margin-right: 50px;
}

.landing-footer-left-title{
   color: rgb(46, 62, 72);
   font-weight: 700;
   font-size: 42px;
   width:  90%;
}

.landing-footer-left-subtitle{
   color: rgb(46, 62, 72);
   font-weight: 400;
   font-size: 20px;
   width:  90%;
   text-justify: inter-word;
}

.landing-footer-right-image{
   background-size: cover;
   background-position: center 40%;
   min-width: 500px;
   border-radius: 8px;
   width: 100%;
}

.landing-main{
   margin-top: 30px;
   display: flex;
   margin: 0 auto;
   width:100%;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
   align-items: center;
}

.landing-location-dropdown{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: space-evenly;
   width: 50%;
   
}

.landing-location-dropdown i{
   font-size: 16px;
}



.login-form-errors{
   font-size: 14px;

}

 .login-form-container{
    display: block;
    padding-bottom: 40px;
    width: 400px;
    margin: 0 auto;
 }

 .login{
    border-bottom: 1px solid lightgrey;
    font-size: 30px;
    padding-left: 10px;
 }

 .login-not-reg{
   font-size: 14px;
   padding: 10px 0px;
 }

 .login-signup-link{
   font-size: 14px;
   padding-left: 6px;
   text-decoration: none;
 }

 .login-form{
   font-size: 14px;
   padding-left: 10px;
 }

 .login-form-label{

   font-size: 13px;
   font-weight: 700;
 }

 .login-input{
   margin-top: 5px;
   margin-bottom: 5px;
   padding: 5px;
   width: 95%;
   display: block;
   border: 1px solid lightgrey;
   border-radius: 3px;
   line-height: 1.5;
   margin-bottom: 8px; 
 }

.login-buttons-div{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
 .login-submit{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    background-color: #ed1c40;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 90px;
 }

 .login-demo-submit{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #ed1c40;
   color: white;
   border-radius: 4px;
   font-size: 16px;
   font-weight: bold;
   height: 40px;
   width: 140px;
}


.signup-form-container{
   display: block;
   padding-bottom: 40px;
   width: 400px;
   margin: 0 auto;
}

.signup-form-container h3{
   font-size: 28px;
   text-align: center;;
}

.signup-box{
   font-size: 13px;
   font-weight: 500;
}

.signup-location-dropdown-div{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: baseline;
}

.signup-selected-location{
   font-size: 16px;
   font-weight: 700;
   padding-right: 10px
}

.signup-selected-location-error{
   color: red;
   font-size: 16px;
}

.signup-terms{
   font-size: 13px;
   line-height: 1.6;
   color: grey;
   font-weight: 300;
   padding: 10px 0px;
}

.signup-submit{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #ed1c40;
   color: white;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 500;
   height: 40px;
   width: 400px;
}

.signup-already-member{
   text-align: center;
   font-size: 13px;
   line-height: 1.6;
   color: grey;
   font-weight: 300;
}

.landing-groups-div{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
}

.landing-events-div{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
}

.groups-div{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 10px;
}

.events-div{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
}


.index-signup{
   padding: 10px;
   cursor: pointer;
   text-decoration: none;
   color: #ed1c40;
   font-size: 20px;
   font-weight: 700;
}

.index-div{
   display: flex;
   margin: 0 auto;
   max-width: 1100px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.index-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   padding: 10px 0px;
}

.index-switch-div{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.index-switch-selected{
   width: 90px;
   background-color: red;
   padding: 10px;
   border: 1px lightgray solid;
   border-radius: 8px;
   text-align: center;
   margin: 0px 10px;
}

.index-switch-not{
   width: 90px;
   background-color: white;
   padding: 10px;
   border: 1px lightgray solid;
   border-radius: 8px;
   text-align: center;
   margin: 0px 10px;
}

.index-switch-text-selected{
   font-size: 16px;
   font-weight: 500;
   color: white;
}

.index-switch-text-not{
   font-size: 16px;
   font-weight: 500;
   text-decoration: none;
   color: rgb(32, 32, 32);;
}

.index-div-titles{
   stroke: transparent;
   fill: rgba(0, 0, 0, 0.87);
   color: rgba(0, 0, 0, 0.87);
   font-size: 18px;
   font-weight: 500;
   line-height: 1.6;
   letter-spacing: -0.02em;
   word-spacing: 0.1em;
   padding: 10px 10px;
}

.index-item{
   border: 1px solid rgb(206, 206, 206);
   width:  250px;
   height: 150px;
   overflow: hidden;
   margin-bottom: 15px;
   border-radius: 3px;
   position: relative;
   overflow: hidden;
   color: white;
   transition: box-shadow .3s;
   cursor: pointer;
}

.index-item:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.2);
   transform: translateY(-1px);
}

.index-item a{
   width: 100%;
   height: 100%;
   cursor: pointer;
}

.index-item-image{
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   vertical-align: middle;
   
   
}

.index-item-image-text{
   position: absolute;
   bottom: 2px;
   left: 10px;
}

.index-item-image-text-small{
   font-size: 16px;
   color: rgba(255, 255, 255, 0.7);;
   text-shadow: 2px 2px 0 rgba(0,0,0,.26);
   margin-top: 2px;
   margin-bottom: 2px;
   font-weight: 500;
}
.index-item-image-text-big{
   font-size: 22px;
   color: #fff;
   text-decoration: none;
   text-shadow: 2px 2px 0 rgba(0,0,0,.26);
   font-weight: 700;
   margin-top: 2px;
   margin-bottom: 2px;
}

.search-bar-div{
   padding: 10px 0px;
   width: 100%;
   display: flex;
   flex-direction: row;
}

.search-bar-form{
   position: relative;
   border: 1px solid lightgray;
   flex-grow: 4;
   border-radius: 5px;
   padding-right: 5px;
   display: flex;
   align-items: center;
}


.search-bar-input{
   color: #858585;
   padding: 0px 10px;
   width: 95%;
   flex-grow: 1;
   display: inline;
   border-radius: 8px;
   height: 14px;
   font-weight: 400;
   padding-top: 16px;
   padding-bottom: 16px;
   font-size: 18px;
}

.search-bar-button{
   font-size: 16px;
   font-weight: 500;
   height: 48px;
   line-height: 1.45;
   border-radius: 8px;
   background-color: #ed1c40;
   margin-left: 20px;
   color: white;
   width: 120px;
   cursor: pointer;
}

.groups-search-div{
   padding-top: 30px;
   display: flex;
   margin: 0 auto;
   max-width: 900px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
   align-items: center;
}

.groups-search-bar-div{
   width: 90%;
}

.groups-index-div-results{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.groups-index-div-results > p{
   stroke: transparent;
   fill: rgba(0, 0, 0, 0.87);
   color: rgba(0, 0, 0, 0.87);
   font-size: 18px;
   font-weight: 500;
   line-height: 1.6;
   letter-spacing: -0.02em;
   word-spacing: 0.1em;
   padding: 10px;
}



.groups-index-div-results{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
}

.group-show-div{
   display: flex;
   margin: 0 auto;
   max-width: 1000px;
   min-width: 900px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.group-show-header{
   height: auto;
   display: flex;
   justify-content: flex-start;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.group-show-header-left{
   flex-grow: 3
}

.group-show-header-left-image{
   margin-right: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: auto;
   max-height: 350px;
   height: auto;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
}

.group-show-header-right{
   flex-grow: 2
}

.group-show-header-right-groupname{
   color: rgb(33, 33, 33);
   font-size: 32px;
   font-weight: 2500;
   cursor: pointer;
}

.group-show-header-right div{
   display: flex;
   flex-direction: row;
   align-items: baseline;
}

.group-show-header-right div p{
   color: rgb(63, 63, 63);
   margin-left: 10px;
   margin-top: 2px;
   margin-bottom: 8px;
}

.group-show-stripe{
   display: flex;
   justify-content: flex-start;
   height: 40px;
   padding-top: 10px;
   padding-bottom: 10px;
   z-index: 5;
   border-bottom: 1px lightgrey solid;
   border-top: 1px lightgrey solid;
}

.group-show-stripe-left{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 55%;
   list-style-type: none;
   color: rgb(46, 62, 72);
   font-size: 16px;
   font-weight: 400;
   padding-left: 10px;
}

.group-show-inline-list-item{
   cursor: pointer;
   color: rgb(46, 62, 72);
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
}

.group-show-inline-list > li{
   list-style-type: none;
   display: inline;
   padding: 2px 10px;
}

.group-show-stripe-right{
   display: flex;
   justify-content: space-evenly;
   width: 45%;
   list-style-type: none;
   align-items: top;
}

.group-show-join-button{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #ed1c40;
   color: white;
   border-radius: 6px;
   font-size: 14px;
   font-weight: bold;
   height: 50px;
   width: 140px;
}
.group-show-edit-button{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #ed1c40;
   color: white;
   border-radius: 6px;
   font-size: 14px;
   font-weight: bold;
   height: 50px;
   width: 140px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.group-show-main{
   margin-top: 20px;
   min-height: 500px;
   display: flex;
   justify-content: flex-start;
    -webkit-box-direction: normal;
    flex-direction: row;
   color: rgb(33,33,33)
}

.group-show-main-left{
   width: 55%;
   padding: 10px 10px;
}

.group-show-stripe-left-header{
   padding: 10px 0px;
   font-size: 20px;
   font-weight: 700;
}

.group-show-stripe-left-description{
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}

.group-show-main-right{
   margin-top: 20px;
   width: 45%;
   padding: 10px 20px;

}

.group-show-main-right-organizers{
   font-size: 20px;
   font-weight: 700;
}

.group-show-main-right-organizers-title{
   font-size: 20px;
   font-weight: 700;
}

.group-show-main-right-organizers-info{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.group-show-main-right-organizers-info-text{
   padding-left: 15px;
   font-size: 16px;
   font-weight: 500;
}

.group-show-member-picture-div{
   overflow: hidden
}

.group-show-member-picture{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 80px;
   height: 80px;
   border-radius: 999px;
   box-sizing: border-box;
   vertical-align: middle;
   transition: box-shadow .3s;
}

.group-show-member-picture:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.2);
   transform: translateY(-1px);
}

.group-show-main-right-members{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   margin-top: 32px;
   width:95%;
   display: flex;
   justify-content: space-between;
   margin-right: 10px;
   cursor: pointer;
   align-items: center;
}

.group-show-header-right-location a{
   text-decoration: none;
   color: rgb(0, 152, 171);
   padding: 8px 8px;
   cursor: pointer;
}

.group-show-members-right-list{
   width: 100%
}

.group-show-members-right-member{
   display: flex;
   flex-direction: row;
   width: 90%
}

.group-show-members-right-member-li{
   list-style: none;
}

.group-show-members-right-member{
   border-bottom: 1px solid lightgray;
}

.group-show-members-right-member-img{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 60px;
   height: 60px;
   border-radius: 999px;
   box-sizing: border-box;
   vertical-align: middle;
}

.group-show-members-right-member-info{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.group-show-members-right-member-info p{
   font-size: 14px;
   padding: 10px;
   font-weight: 500;
}

.group-show-main-right-members{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   margin-top: 32px;
}

.group-show-main-right-members-list{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 5px;
}

.group-show-main-right-members-list-item{
   width: 25%;
}

.group-show-members{
   margin-top: 20px;
   display: flex
}

.group-show-members-left{
   flex-grow: 1;
   margin: 10px;
   padding: 10px;
   background-color: rgb(245, 245, 245);;
   border-radius: 10px;
   height: fit-content;
}

.group-show-members-left-tab{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: space-between;
}

.group-show-members-left-tab p{
   padding: 10px 0px;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   cursor: pointer;
}

.group-show-members-right{
   margin: 10px;
   background-color: rgb(245, 245, 245);;
   border-radius: 10px;
   height: fit-content;
   padding: 10px;
   flex-grow: 2;
   display: flex;
   flex-direction: column;
   align-items: baseline;
   padding-left: 20px;
}

.group-show-members-right-header p {
   padding: 10px 0px;
   color: rgb(33, 33, 33);
   font-size: 20px;
   font-weight: 500;
}

.group-show-members-right-search{
   width: 100%;
}

.group-show-members-right-search-bar{
   width: 95%;
   line-height: 28px;
   border: 1px lightgrey solid;
   border-radius: 8px;

}

.create-group-main-div{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.create-group-completion{
   position: relative;
   top: 0px;
   width: 100%;
   background-color: rgb(155, 155, 155);
   border-radius: 1px solid rgb(155, 155, 155);;
   height: 10px;
   z-index:-1;
}

.create-group-completion-text{
   color: rgb(155, 155, 155);
   font-size: 16px;
   font-weight: 400;
   padding: 10px
}

.create-group-completion-0{
   position:absolute;
   width: 20%;
   background-color: rgb(0, 152, 171);
   height: 10px;
   z-index: 1;
   left: 0px;
}
.create-group-completion-1{
   position:absolute;
   width: 40%;
   background-color: rgb(0, 152, 171);
   height: 10px;
   z-index: 1;
   left: 0px;
}

.create-group-completion-2{
   position:absolute;
   width: 60%;
   background-color: rgb(0, 152, 171);
   height: 10px;
   z-index: 1;
   left: 0px;
}
.create-group-completion-3{
   position:absolute;
   width: 80%;
   background-color: rgb(0, 152, 171);
   height: 10px;
   z-index: 1;
   left: 0px;
}
.create-group-completion-4{
   position:absolute;
   width: 100%;
   background-color: rgb(0, 152, 171);
   height: 10px;
   z-index: 1;
   left: 0px;
}

.create-group-div{
   display: flex;
   margin: 0 auto;
   max-width: 800px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.create-group-card-title{
   font-size: 40px;
   font-weight: 1400;
   margin-top: 20px;
   margin-bottom: 20px;

}

.create-group-card-description{
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.01em;
   padding-bottom: 10px;
}

.create-group-card-errors{
   font-style: italic;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.01em;
   padding-top: 8px;
   padding-bottom: 8px;
}


.create-group-card-ol li{
   letter-spacing: 0.01em;
   padding-top: 4px;
}
.create-group-card-ul{
   margin-bottom: 10px;
}
.create-group-card-ul li{
   font-size: 18px;
   letter-spacing: 0.01em;
   padding-top: 4px;
}

.create-group-card-options{
   display: flex;
   align-items: baseline;
   justify-content: flex-start;
}

.create-group-card-selected{
   font-size: 36px;
   padding-right: 15px;
}

.create-group-card-dropdown-header{
   height: 100%;
   color: rgb(0, 152, 171);
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   align-items: center;
   width: 160px;
   cursor: pointer;
}

.create-group-card-dropdown-header-title-div{
   display:flex;
   flex-direction: row;
   align-items: center;
}

.fa-caret-down{
   padding-left: 10px;
   cursor: pointer;
   font-size: 30px;
}

.create-group-card-dropdown-header-delete{
   color: red;
   cursor: pointer;
}

.create-group-card-dropdown-option{
   cursor: pointer;
   padding: 5px;
   text-decoration: none;
   color: rgb(32, 32, 32);;

}

.create-group-card-dropdown-header-list{
   background-color: rgb(247, 247, 247);
   list-style: none;
   border: 1px rgb(233, 233, 233) solid;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding-left: 0px;
   cursor: pointer;
   z-index:1;
   position: absolute;
   padding: 10px;
   margin-top: 10px;
   width: inherit;
}

.create-group-card-dropdown-header-list-item{
   padding: 5px 0px;
   font-size: 14px;
   cursor: pointer;
   width: 100%;
   text-decoration: none;
}

.create-group-card-dropdown-option-hidden{
   display:none;
}

.create-group-footer{
   margin: auto auto 0 auto;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
   width: 100%;
   height: 80px;
   padding: 0px;
   border-top: 1px lightgray solid;
   left: 0px;
   flex-shrink: 0;
}

.create-group-footer-prev{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color:white;
   color: rgb(70, 70, 70);
   border-radius: 6px;
   border: 1px rgb(197, 197, 197) solid;
   font-size: 14px;
   font-weight: bold;
   height: 50px;
   width: 180px;
   margin-left: 20px;
}

.create-group-footer-next{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #ed1c40;
   color: white;
   border-radius: 6px;
   font-size: 14px;
   font-weight: bold;
   height: 50px;
   width: 180px;
   text-align: center;
   margin-right: 20px;
}

.create-group-card-options-categories{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}

.create-group-card-options-categories-button{
   margin: 10px 10px;
   padding: 10px;
   background-color: white;
   border-radius: 20px;
   border: #0098ab 1px solid;
   color: #0098ab;
   font-weight: 500;
   height: 40px;
   font-size: 14px;
   cursor: pointer;
}

.create-group-card-options-categories-button-selected{
   margin: 10px 10px;
   background-color: #0098ab;
   padding: 10px;
   border-radius: 20px;
   border: #0098ab 1px solid;
   color: white;
   font-weight: 500;
   height: 40px;
   font-size: 14px;
   cursor: pointer;
}

.create-group-card-name-field{
   padding: 5px;
   border: 1px grey solid;
   border-radius: 4px;
   width: 100%;
   font-size: 16px;
   height: 30px;
}

.create-group-card-name-field-big{
   padding: 5px;
   border: 1px grey solid;
   border-radius: 4px;
   width: 100%;
   font-size: 16px;
   height: 200px;
   vertical-align: top;
}

.fa-backspace{
   right: 10px;
   opacity: 30%;
}

.event-show{
   margin-bottom: 70px;
}

.event-show-banner{
   border-bottom: 1px solid lightgray;
   height: 80px;
}

.event-show-banner-inter{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   max-width: 1000px;
   min-width: 900px;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.event-show-banner-left{
   flex-grow: 3;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.event-show-banner-left h3{
   padding: 5px 0px;
   margin: 0;
}

.event-show-banner-right{
   flex-grow: 2;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

.event-show-banner-right img{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 80px;
   height: 60px;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
   padding: 0px 10px
}


.event-show-banner-right-text p{
   padding: 5px 0px;
   margin: 0; 
}

.event-show-footer{
   margin: auto auto 0 auto;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
   width: 100%;
   padding: 0px;
   border-top: 1px lightgray solid;
   left: 0px;
   flex-shrink: 0;
   background-color: white;
   clear: both;
   position: fixed;
   height: 70px;
   bottom: 0px;
}

.event-show-footer-inter{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   max-width: 1000px;
   min-width: 900px;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.event-show-footer-left-title{
   font-weight: 700;
   font-size: 20px;
   padding-bottom: 5px;
}

.event-show-header-left{
   flex-grow: 3;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.event-show-header-left h3{
   margin: 0px 0px;
}
.event-show-header-left p{
   margin: 0px 0px;
}

.event-show-header-right{
   flex-grow: 2;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.event-show-header-right div p{
   padding: 10px 0px;
   
}

.event-show-main{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 1000px;
   min-width: 1000px;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.event-show-main-left{
   width: 55%;
   padding: 10px 0px;
}
.event-show-main-left img{
   max-width: 100%;
   min-width: 100%;
   border-radius: 15px;
}

.event-show-description{
   padding: 0px 10px;
   line-height: 28px;
   font-size: 18px;
}


.event-show-main-left-members{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   margin-top: 32px;
   width:95%;
   display: flex;
   justify-content: space-between;
   margin-right: 10px;
   cursor: pointer;
   align-items: center;
}


.event-show-main-left-members-list{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 5px;
}

.event-show-members-right-list{
   width: 100%
}

.event-show-member-picture-div{
   background-color: rgb(245, 245, 245);
   border-radius: 10px;
   border: 1px solid  rgb(245, 245, 245);
   width: 20%;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 10px;
   transition: box-shadow .3s;
}

.event-show-member-picture-div:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.2); 
   transform: translateY(-1px);
}

.event-show-member-picture{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 90px;
   height: 90px;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
   padding: 0px 10px
}


.event-show-main-right{
   width: 45%;
   padding: 10px 0px;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
}

.event-show-main-right-groupinfo{
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: rgb(245, 245, 245);
   border-radius: 8px;
   width: 300px;
   height: 70px;
   padding: 10px 20px;
   cursor: pointer;
   text-decoration: none;
}

.event-show-main-right-groupinfo img{
   width: 70px;
   height: 70px;
   border-radius: 10px;
}

.event-show-main-right-groupinfo p{
   padding-left: 15px;
   line-height: 20px;
   color: rgb(0, 152, 171);
}

.event-show-main-right-eventinfo{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.event-show-main-right-infobox{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   background-color: rgb(245, 245, 245);
   border-radius: 8px;
   width: 300px;
   height: 50px;
   padding: 20px;
   margin: 15px 0px;
}

.event-show-main-right-infobox a{
   text-decoration: none;
   color: rgb(0, 152, 171);
   padding: 14px 14px;
   cursor: pointer;
}

.event-show-main-right-eventinfo p{
   padding-left: 15px;
   font-weight: 900;
   line-height: 20px;
}

.event-show-join{
   font-size: 20px;
   font-weight: 1200;
   height: 54px;
   line-height: 1.3;
   border-radius: 8px;
   background-color: #ed1c40;
   margin-left: 20px;
   color: white;
   width: 180px;
   cursor: pointer;
}







.group-show-events{
   margin-top: 20px;
   display: flex
}

.group-show-events-main{
   margin: 10px;
   height: fit-content;
   padding: 10px;
   flex-grow: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 20px;

}

.group-show-events-header p {
   padding: 10px 0px;
   color: rgb(33, 33, 33);
   font-size: 20px;
   font-weight: 500;
}

.group-show-events-search{
   width: 80%;
}

.group-show-events-search-bar{
   width: 100%;
   line-height: 28px;
   border: 1px lightgrey solid;
   border-radius: 8px;
}

.group-show-events-list{
   width: 80%;
}

.group-show-events-li{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 20px 10px;
   margin: 10px 0px;
   border-radius: 10px;
   background-color: rgb(245, 245, 245);
   border-radius: 10px;
}  

.group-show-events-event-div{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0px 15px;
}

.group-show-events-event-info{
   line-height: 2em;
   display: flex;
   flex-direction: column;
   text-align: left;
   
}

.group-show-events-event-info > p{
   font-size: 16px;
   font-weight: 700;
   padding: 0px 12px;
}

.group-show-events-event-link{
   border-radius: 10px;
   padding: 0px 10px;
   min-width: 350px;
   min-height: 200px;
   display: flex;
   justify-content: flex-end;
}

.group-show-events-info p{
   line-height: 1.45em;
   padding: 8px 16px;
}

.group-show-events-img{
   margin-right: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: auto;
   max-height: 200px;
   height: auto;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
}


