/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.main-body{
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   height: 90vh;
}

.main-body > div{
   display: flex;
   flex-direction: column;
   min-height: 90vh;
}


 .navbar-header{
     position: relative;
     display: flex;
     height: 10vh;
     padding: 0px 5px 0px;
     margin-left: 10px;
     margin-right: 10px;
     justify-content: space-between;
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
     border-bottom: 1px lightgray solid;
     align-items: center;
 }

 .navbar-logo{
    width: auto;
    height: 50px;
    cursor: pointer;
 }


 .navbar-right{
     display: flex;
     justify-content: space-around;
     text-align: center;
 }

 .navbar-group-link{
    text-decoration: none;
    color: #ed1c40;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: bold;
    cursor: pointer;

 }

 .navbar-explore-link{
    text-decoration: none;
    color: #858585;
    padding-left:8px ;
    padding-right: 8px ;
    
 }

 .navbar-startgroup-link{
    text-decoration: none;
    color: #ed1c40;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: bold;
 }

.navbar-login-signup-link{
    text-decoration: none;
    color: #858585;
    padding-left:8px ;
    padding-right: 8px ;
}

 .navbar-dropdown{
    padding-left:5px ;
    padding-right: 5px ;
    cursor: pointer;
    text-decoration: none;
    color: #858585;
 }

 .group-landing{
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 auto;
   max-width: 1100px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
 }

.group-landing-banner{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: center;
   margin-top: 30px;
   flex-direction: row;
   font-family: Arial, Helvetica, sans-serif;
}

.group-landing-banner-left{
   display: block;
   padding: 10px
}

.group-landing-banner-left-title{
   color: rgb(46, 62, 72);
   font-weight: 700;
   font-size: 42px;
   width:  90%;
}

.group-landing-banner-left-subtitle{
   color: rgb(46, 62, 72);
   font-weight: 400;
   font-size: 20px;
   width:  90%;
   text-justify: inter-word;
}

.group-landing-banner-left{
   display: block;
   padding: 10px
}

.group-landing-banner-left-search{
   width: 90%;
   display: flex;
   flex-direction: row;
}

.group-landing-banner-left-search-bar-container{
   position: relative;
   border: 1px solid lightgray;
   flex-grow: 4;
}


.group-landing-banner-left-search-bar{
   flex-grow: 1;
   display: inline;
   border-radius: 8px;
   height: 14px;
   font-weight: 500;
   padding-top: 16px;
   padding-bottom: 16px;
   font-size: 18px;
}

.group-landing-banner-left-search-button{
   font-size: 16px;
   font-weight: 500;
   height: 48px;
   line-height: 1.45;
   border-radius: 8px;
   background-color: #f65858;
   margin-left: 20px;
   color: white;
   width: 120px;
}

.group-landing-banner-right-image{
   background-size: cover;
   background-position: center 40%;
   max-width: 600px;
   border-radius: 8px;
   width: 100%;
}

.group-landing-groups{
   margin-top: 30px;
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 auto;
   max-width: 1100px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
   
}


.login-form-errors{
   font-size: 14px;

}

 .login-form-container{
    display: block;
    padding-bottom: 40px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
 }

 .login{
    border-bottom: 1px solid lightgrey;
    font-size: 30px;
    padding-left: 10px;
 }

 .login-not-reg{
   font-size: 14px;
 }

 .login-signup-link{
   font-size: 14px;
   padding-left: 6px;
   text-decoration: none;
 }

 .login-form{
   font-size: 14px;
   padding-left: 10px;
 }

 .login-form-label{
   padding: 0px;
   font-size: 13px;
   font-weight: 700;
 }

 .login-input{
   padding: 5px;
   width: 95%;
   display: block;
   border: 1px solid lightgrey;
   border-radius: 3px;
   line-height: 1.5;
   margin-bottom: 8px; 
 }

.login-buttons-div{
   display: flex;
   align-items: space-around;
   justify-content: space-around;
}
 .login-submit{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    background-color: #ed1c40;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 90px;
 }

 .login-demo-submit{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #ed1c40;
   color: white;
   border-radius: 4px;
   font-size: 16px;
   font-weight: bold;
   height: 40px;
   width: 140px;
}


.signup-form-container{
   display: block;
   padding-bottom: 40px;
   width: 400px;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 auto;
}

.signup-form-container h3{
   font-size: 28px;
   text-align: center;;
}

.signup-box{
   font-size: 13px;
   font-weight: 600;
}

.signup-location-dropdown-div{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.signup-selected-location{
   font-size: 16px;
   font-weight: 800;
   padding-right: 10px
}

.signup-terms{
   font-size: 13px;
   line-height: 1.6;
   color: grey;
   font-weight: 300;
}

.signup-submit{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #ed1c40;
   color: white;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 600;
   height: 40px;
   width: 400px;
}

.signup-already-member{
   text-align: center;
   font-size: 13px;
   line-height: 1.6;
   color: darkgray;
   font-weight: 300;
}

.groups-div{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 30px;
}

.groups-signup{
   padding: 10px;
   cursor: pointer;
   text-decoration: none;
   color: rgb(246, 88, 88);
   font-size: 20px;
   font-weight: 800;
   font-family: Arial, Helvetica, sans-serif;
}

.groups-index-div{
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 auto;
   max-width: 1100px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}


.groups-index-div-titles{
   stroke: transparent;
   fill: rgba(0, 0, 0, 0.87);
   color: rgba(0, 0, 0, 0.87);
   font-size: 13px;
   font-weight: 600;
   line-height: 1.6;
   letter-spacing: -0.02em;
   word-spacing: 0.1em;
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

.groups-index-item{
   border: 1px solid grey;
   width:  250px;
   height: 150px;
   overflow: hidden;
   margin-bottom: 15px;
   border-radius: 3px;
   position: relative;
   overflow: hidden;
   color: white;
}

.groups-index-item-image-text{
   position: absolute;
   bottom: 2px;
   left: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

.groups-index-item-image-text-small{
   font-size: 14px;
   color: rgba(255, 255, 255, 0.7);;
   text-shadow: 1px 1px 0 rgba(0,0,0,.26);
   margin-top: 2px;
   margin-bottom: 2px;
   font-weight: 500;
}
.groups-index-item-image-text-big{
   font-size: 20px;
   color: #fff;
   text-decoration: none;
   text-shadow: 1px 1px 0 rgba(0,0,0,.26);
   font-weight: 800;
   margin-top: 2px;
   margin-bottom: 2px;
}

.group-show-div{
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 auto;
   max-width: 1000px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.group-show-header{
   border-top: 1px lightgrey solid;
   border-bottom: 1px lightgrey solid;
   height: auto;
   display: flex;
   justify-content: flex-start;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.group-show-header-left{
   flex-grow: 3
}

.group-show-header-left-image{
   margin-right: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 90%;
   height: auto;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
}

.group-show-header-right{
   flex-grow: 2
}

.group-show-header-right-groupname{
   color: rgb(33, 33, 33);
   font-size: 32px;
   font-weight: 2500;
   cursor: pointer;
}

.group-show-header-right div{
   display: flex;
   flex-direction: row;
   align-items: baseline;
}

.group-show-header-right div p{
   color: rgb(63, 63, 63);
   margin-left: 10px;
   margin-top: 2px;
   margin-bottom: 8px;
}

.group-show-stripe{
   display: flex;
   justify-content: flex-start;
   height: 40px;
   padding-top: 10px;
   z-index: 5;
}

.group-show-stripe-left{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 55%;
   list-style-type: none;
   color: rgb(46, 62, 72);
   font-size: 16px;
   font-weight: 400;
   padding-left: 10px;
}

.group-show-inline-list-item{
   cursor: pointer;
   color: rgb(46, 62, 72);
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
}

.group-show-inline-list > li{
   list-style-type: none;
   display: inline;
   padding: 2px 10px;
}

.group-show-stripe-right{
   display: flex;
   justify-content: space-evenly;
   width: 45%;
   list-style-type: none;
   align-items: top;
}

.group-show-join-button{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: rgb(246, 88, 88);
   color: white;
   border-radius: 6px;
   font-size: 14px;
   font-weight: bold;
   height: 50px;
   width: 140px;
}
.group-show-edit-button{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: rgb(246, 88, 88);
   color: white;
   border-radius: 6px;
   font-size: 14px;
   font-weight: bold;
   height: 50px;
   width: 140px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.group-show-main{
   margin-top: 20px;
   min-height: 500px;
   display: flex;
   justify-content: flex-start;
    -webkit-box-direction: normal;
    flex-direction: row;
   color: rgb(33,33,33)
}

.group-show-main-left{
   width: 55%;
   padding: 10px 10px;
}

.group-show-stripe-left-header{
   font-size: 20px;
   font-weight: 800;
}

.group-show-stripe-left-description{
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}

.group-show-main-right{
   margin-top: 20px;
   width: 45%;
   padding: 10px 20px;

}

.group-show-main-right-organizers{
   font-size: 20px;
   font-weight: 800;
}

.group-show-main-right-organizers-title{
   font-size: 20px;
   font-weight: 800;
}

.group-show-main-right-organizers-info{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.group-show-main-right-organizers-info-text{
   padding-left: 15px;
   font-size: 16px;
   font-weight: 600;
}

.group-show-member-picture{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 60px;
   height: 60px;
   border-radius: 999px;
   box-sizing: border-box;
   vertical-align: middle;
}

.group-show-main-right-members{
   font-size: 20px;
   font-weight: 800;
   line-height: 24px;
   margin-top: 32px;
   display: flex;
   justify-content: space-between;
   margin-right: 10px;
   cursor: pointer;
   align-items: center;
}

.group-show-members-right-list{
   width: 100%
}

.group-show-members-right-member{
   display: flex;
   flex-direction: row;
   width: 90%
}

.group-show-members-right-member-li{
   list-style: none;
}

.group-show-members-right-member{
   border-bottom: 1px solid lightgray;
}

.group-show-members-right-member-img{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 60px;
   height: 60px;
   border-radius: 999px;
   box-sizing: border-box;
   vertical-align: middle;
}

.group-show-members-right-member-info{
   display: flex;
   flex-direction: column;
}

.group-show-members-right-member-info p{
   font-size: 14px;
   font-weight: 500;
}

.group-show-main-right-members{
   font-size: 20px;
   font-weight: 800;
   line-height: 24px;
   margin-top: 32px;
}

.group-show-main-right-members-list{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 5px;
}

.group-show-main-right-members-list-item{
   width: 25%;
}

.group-show-members{
   margin-top: 20px;
   display: flex
}

.group-show-members-left{
   flex-grow: 1;
   margin: 20px;
   padding: 20px;
   background-color: rgb(205, 234, 252);
   border-radius: 10px;
   height: fit-content;
}

.group-show-members-left-tab{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: space-between;
}

.group-show-members-left-tab p{
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   cursor: pointer;
}

.group-show-members-right{
   margin: 20px;
   background-color: rgb(205, 234, 252);
   border-radius: 10px;
   height: fit-content;
   padding: 20px;
   flex-grow: 2;
   display: flex;
   flex-direction: column;
   align-items: baseline;
}

.group-show-members-right{
   padding: 0px;
}

.group-show-members-right-header p {
   margin-left: 40px; 
   color: rgb(33, 33, 33);
   font-size: 20px;
   font-weight: 600;
}

.group-show-members-right-search{
   width: 100%;
}

.group-show-members-right-search-bar{
   width: 90%;
   margin-left: 40px; 
   line-height: 28px;
   border: 1px lightgrey solid;
   border-radius: 8px;

}

.create-group-main-div{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.create-group-completion{
   position: relative;
   top: 0px;
   width: 100%;
   background-color: rgb(155, 155, 155);
   border-radius: 1px solid rgb(155, 155, 155);;
   height: 10px;
   z-index:-1;
}

.create-group-completion-text{
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(155, 155, 155);
   font-size: 16px;
   font-weight: 400;
   padding: 10px
}

.create-group-completion-0{
   position:absolute;
   width: 20%;
   background-color: rgb(0, 152, 171);
   height: 10px;
   z-index: 1;
   left: 0px;
}
.create-group-completion-1{
   position:absolute;
   width: 40%;
   background-color: rgb(0, 152, 171);
   height: 10px;
   z-index: 1;
   left: 0px;
}

.create-group-completion-2{
   position:absolute;
   width: 60%;
   background-color: rgb(0, 152, 171);
   height: 10px;
   z-index: 1;
   left: 0px;
}
.create-group-completion-3{
   position:absolute;
   width: 80%;
   background-color: rgb(0, 152, 171);
   height: 10px;
   z-index: 1;
   left: 0px;
}
.create-group-completion-4{
   position:absolute;
   width: 100%;
   background-color: rgb(0, 152, 171);
   height: 10px;
   z-index: 1;
   left: 0px;
}

.create-group-div{
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 auto;
   max-width: 1100px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.create-group-card-title{
   font-size: 40px;
   font-weight: 1400;
}

.create-group-card-description{
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.01em;
   padding-bottom: 15px;
}

.create-group-card-errors{
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.01em;
   padding-top: 10px;
   padding-bottom: 10px;
}


.create-group-card-ol li{
   letter-spacing: 0.01em;
   padding-top: 4px;
}

.create-group-card-ul li{
   letter-spacing: 0.01em;
   padding-top: 4px;
}

.create-group-card-options{
   display: flex;
   align-items: baseline;
   justify-content: flex-start;
}

.create-group-card-selected{
   font-size: 36px;
   padding-right: 15px;
}

.create-group-card-dropdown-header{
   margin-top: 10px;
   color: rgb(0, 152, 171);
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   align-items: flex-start;
   width: 160px;
   cursor: pointer;
}

.create-group-card-dropdown-header-delete{
   color: red;
   cursor: pointer;
}

.create-group-card-dropdown-option{
   cursor:pointer;
   padding: 5px;
   
}

.create-group-card-dropdown-header-list{
   list-style: none;
   border: 1px lightgray solid;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: flex-start;
   padding-left: 0px;
   cursor: pointer;
   z-index:1
}

.create-group-card-dropdown-header-list-item{
   padding-top: 5px;
   padding-left: 5px;
   font-size: 14px;
   cursor: pointer;
   width: 100%
}

.create-group-footer{
   margin: auto auto 0 auto;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
   width: 100%;
   height: 80px;
   padding: 0px;
   border-top: 1px lightgray solid;
   left: 0px;
   flex-shrink: 0;
}

.create-group-footer-prev{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color:white;
   color: rgb(70, 70, 70);
   border-radius: 6px;
   border: 1px rgb(197, 197, 197) solid;
   font-size: 14px;
   font-weight: bold;
   height: 50px;
   width: 180px;
   margin-left: 20px;
}

.create-group-footer-next{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: rgb(246, 88, 88);
   color: white;
   border-radius: 6px;
   font-size: 14px;
   font-weight: bold;
   height: 50px;
   width: 180px;
   text-align: center;
   margin-right: 20px;
}

.create-group-card-options-categories{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}

.create-group-card-options-categories-button{
   margin: 10px 10px;
   padding: 10px;
   background-color: white;
   border-radius: 20px;
   border: #0098ab 1px solid;
   color: #0098ab;
   font-weight: 500;
   height: 40px;
   font-size: 14px;
   cursor: pointer;
}

.create-group-card-options-categories-button-selected{
   margin: 10px 10px;
   background-color: #0098ab;
   padding: 10px;
   border-radius: 20px;
   border: #0098ab 1px solid;
   color: white;
   font-weight: 500;
   height: 40px;
   font-size: 14px;
   cursor: pointer;
}

.create-group-card-name-field{
   padding: 5px;
   border: 1px grey solid;
   border-radius: 4px;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   height: 30px;
}

.create-group-card-name-field-big{
   padding: 5px;
   border: 1px grey solid;
   border-radius: 4px;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   height: 200px;
   vertical-align: top;
}
