/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.main-body{
   display: flex;
   min-width: 900px;
   max-width: 1000px;
   justify-content: center;
   align-items: center;
}

 .navbar-header{
     position: relative;
     display: flex;
     height: 40px;
     padding: 10px 5px 0px;
     justify-content: space-between;
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
     border-bottom: 1px lightgray solid;
 }


 .navbar-right{
     display: flex;
     justify-content: space-around;
     text-align: center;
 }

 .navbar-group-link{
    text-decoration: none;
    color: #ed1c40;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: bold;
    cursor: pointer;

 }

 .navbar-explore-link{
    text-decoration: none;
    color: #585858;
    padding-left:5px ;
    padding-right: 5px ;
    
 }

 .navbar-startgroup-link{
    text-decoration: none;
    color: #ed1c40;
    padding-left:5px ;
    padding-right: 5px ;
    font-weight: bold;
 }

.navbar-login-signup-link{
    text-decoration: none;
    color: #585858;
    padding-left:5px ;
    padding-right: 5px ;
}

 .navbar-dropdown{
    padding-left:5px ;
    padding-right: 5px ;
    cursor: pointer;
 }


 .login-form-container{
    margin-top: 70px;
    display: block;
    padding-bottom: 40px;
    border: 1px solid lightgrey;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
 }

 .login{
    border-bottom: 1px solid lightgrey;
    font-size: 30px;
    padding-left: 10px;
 }

 .login-not-reg{
   font-size: 14px;
 }

 .login-signup-link{
   font-size: 14px;
   padding-left: 6px;
   text-decoration: none;
 }

 .login-form{
   font-size: 14px;
   padding-left: 10px;
 }

 .login-form label{
   padding: 5px;
   font-size: 13px;
   font-weight: 500;
 }

 .login-input{
   padding: 5px;
   width: 90%;
   display: block;
   border: 1px solid lightgrey;
   border-radius: 3px;
   line-height: 1.5;
   margin-bottom: 8px; 
 }


 .login-submit{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    background-color: #ed1c40;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 90px;
 }

 .login-demo-submit{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #ed1c40;
   color: white;
   border-radius: 4px;
   font-size: 18px;
   font-weight: bold;
   height: 40px;
   width: 140px;
}


.signup-form-container{
   margin-top: 20px;
   display: block;
   padding-bottom: 40px;
   width: 400px;
   font-family: Arial, Helvetica, sans-serif;
}

.signup-form-container h3{
   font-size: 28px;
   text-align: center;;
}

.signup-box{
   font-size: 13px;
   font-weight: 600;
}

.signup-terms{
   font-size: 13px;
   line-height: 1.6;
   color: grey;
   font-weight: 300;
}

.signup-submit{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #ed1c40;
   color: white;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 600;
   height: 40px;
   width: 400px;
}

.signup-already-member{
   text-align: center;
   font-size: 13px;
   line-height: 1.6;
   color: darkgray;
   font-weight: 300;
}

.groups-div{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 30px;
}

.groups-index-item{
   border: 1px solid grey;
   width:  250px;
   height: 150px;
   overflow: hidden;
   margin-bottom: 15px;
   border-radius: 3px;
}