/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.main-body{
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   height: 90vh;
}

.main-body > div{
   display: flex;
   flex-direction: column;
   min-height: 85vh;
}

.hidden{
   display: none;
}

.header-search-bar-form{
   position: relative;
   border: 2px solid lightgray;
   border-radius: 5px;
   padding-right: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}



.header-search-bar-div{
   padding: 10px 0px;
   width: 40%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.header-search-bar-input{
    color: #858585;
    width: 100%;
    line-height: 20px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-left{
   display:flex;
   flex-direction: row;
   align-items: center;
}

.navbar-left i{
   font-size: 26px;
   padding: 0px 10px;
   color: white;
 transition: color 300ms ease;
    -webkit-transition: color 300ms ease;
  }

    .navbar-left i:hover{
       color:black;
    }

 .navbar-header{
     background-color: #FF0C37;
     position: relative;
     display: flex;
     height: 8vh;
     padding: 0px 10px;
     justify-content: space-between;
     font-size: 16px;
     border-bottom: 1px lightgray solid;
     align-items: center;
     margin-bottom: 20px;
 }

 .navbar-logo{
   cursor: pointer;
    width: 25%;
    height: auto;
    max-height: 8vh;
 }


 .navbar-right{
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: space-between;
      width: 70%;
    max-width: 1050px;
 }

  .navbar-right a{
   font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: color 300ms ease;
    -webkit-transition: color 300ms ease;
  }

    .navbar-right a:hover{
       color:black;
    }

   

  .on-hover-messenger{
   font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }

  .on-hover-messenger .on-hover-messenger-tooltip {
   border: 2px solid white;
  visibility: hidden;
  width: 240px;
  background-color: rgba(255, 53, 12, 0.92);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 58%;
}

.on-hover-messenger:hover .on-hover-messenger-tooltip {
  visibility: visible;
}

 .navbar-group-link{
    text-decoration: none;
    color: white;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: bold;
    cursor: pointer;

 }

 .navbar-explore-link{
    text-decoration: none;
    color: white;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: 500;
    
 }

 .navbar-startgroup-link{
    text-decoration: none;
    color: #FF0C37;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: bold;
    font-weight: 500;
 }

.navbar-login-signup-link{
    text-decoration: none;
    color: white;
    padding-left:8px ;
    padding-right: 8px ;
    font-weight: 500;
}

 .navbar-dropdown{
    padding-left:5px ;
    padding-right: 5px ;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
 }

 .landing{
   margin-top: 15px;
   padding: 0px 20px;
   display: flex;
   margin: 0 auto;
   max-width: 1100px;
   min-width: 900px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%; 
   min-height: auto;
 }

 .landing-banner{
   margin: 20px 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .landing-banner-left{
    flex-grow: 3;
    margin-right: 20px; 
 }

 .landing-banner-left-title{
    font-size: 44px;
    font-weight: 700;
   font-style: italic;
   color: rgba(255, 53, 12, 0.8);
   text-shadow: 1px 2px 4px white, 0 0 0 #000, 1px 4px 6px white;
 }


 .landing-banner-right{
   flex-grow: 2
 }

 .landing-banner-right-image{
    border-radius: 10px;
 }
 

.landing-footer{
   display: flex;
   width: 98%;
   margin: 0 auto;
   margin-left: 0px;
   justify-content: center;
   margin-top: 30px;
   flex-direction: row;
   box-sizing: border-box;
   padding: 0px;
}

.landing-footer-left{
   padding: 0px;
   display: block;
   width: 100%;
   box-sizing: border-box;
   margin-right: 50px;
}

.landing-footer-left-title{
   color: rgb(43, 43, 43);
   font-size: 22px;
   text-shadow: 1px 1px lightgrey;
   font-weight: 500;
   font-size: 42px;
   width:  90%;
}

.landing-footer-left-subtitle{
   color: rgb(46, 62, 72);
   font-weight: 400;
   font-size: 20px;
   width:  90%;
   text-justify: inter-word;
}

.landing-footer-right-image{
   background-size: cover;
   background-position: center 40%;
   min-width: 500px;
   border-radius: 8px;
   width: 100%;
}

.landing-main{
   margin-top: 30px;
   display: flex;
   margin: 0 auto;
   width:100%;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
   align-items: center;
}

.landing-location-dropdown{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: space-evenly;
   width: 50%;
}


.landing-location-h4{
   color: rgb(43, 43, 43);
    font-size: 22px;
    text-shadow: 1px 1px lightgrey;
    padding: 10px;
}


.login-form-errors{
    font-size: 18px;
    padding: 10px 0px;
    font-style: italic;
}

 .login-form-container{
    display: block;
    padding-bottom: 40px;
    width: 400px;
    margin: 0 auto;
 }

 .login{
    border-bottom: 1px solid lightgrey;
    font-size: 30px;
    padding-left: 10px;
 }

 .login-not-reg{
   font-size: 18px;
   padding: 10px 0px;
 }

 .login-signup-link{
   font-size: 18px;
   padding-left: 6px;
   text-decoration: none;
   color: #FF0C37;
 }

 .login-form{
   font-size: 14px;
   padding-left: 10px;
 }

 .login-form-label{

   font-size: 16px;
   font-weight: 700;
 }

 .login-input{
   margin-top: 5px;
   margin-bottom: 5px;
   padding: 5px;
   width: 95%;
   display: block;
   border: 1px solid lightgrey;
   border-radius: 3px;
   line-height: 1.5;
   margin-bottom: 8px; 
 }

.login-buttons-div{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
 .login-submit{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    background-color: #FF0C37;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 90px;
 }

 .login-demo-submit{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #FF0C37;
   color: white;
   border-radius: 4px;
   font-size: 18px;
   font-weight: bold;
   height: 40px;
   width: 140px;
}


.signup-form-container{
   display: block;
   padding-bottom: 40px;
   width: 400px;
   margin: 0 auto;
}

.signup-form-container > div{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px;
}

.signup-box{
   font-size: 13px;
   font-weight: 500;
}

.signup-location-dropdown-div{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: baseline;
}

.signup-selected-location{
   font-size: 22px;
   font-weight: 700;
   padding-right: 10px;
}

.signup-selected-location-error{
   color: #ff350c;
   font-size: 16px;
}

.signup-terms{
   font-size: 13px;
   line-height: 1.6;
   color: grey;
   font-weight: 300;
   padding: 10px 0px;
}

.signup-submit{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #FF0C37;
   color: white;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 500;
   height: 40px;
   width: 400px;
}

.signup-already-member{
   text-align: center;
   font-size: 13px;
   line-height: 1.6;
   color: grey;
   font-weight: 300;
}

.landing-groups-div{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
}

.landing-events-div{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
}

.groups-div{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
}

.events-div{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
}


.index-signup{
   padding: 10px;
   cursor: pointer;
   text-decoration: none;
   color: #FF0C37;
   font-size: 20px;
   font-weight: 700;
}

.index-div{
   display: flex;
   margin: 0 auto;
   max-width: 1100px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
   align-items: center;
}

.index-header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   padding: 10px 0px;
}

.index-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   padding: 10px 0px;
}

.event-index-div{
   display: flex;
   margin: 0 auto;
   max-width: 1100px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   align-items: center;
   min-height: auto;
   margin-top:10px
}

.index-switch-div{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.index-switch-selected{
   width: 90px;
   background-color: #ff350c;
   padding: 10px;
   border: 1px lightgray solid;
   border-radius: 8px;
   text-align: center;
   margin: 0px 10px;
}

.index-switch-selected:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.2);
   transform: translateY(-1px);
}

.index-switch-not{
   width: 90px;
   background-color: white;
   padding: 10px;
   border: 1px lightgray solid;
   border-radius: 8px;
   text-align: center;;
   margin: 0px 10px;
   background-color: rgb(194, 194, 194);
}

.index-switch-not:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.1);
   transform: translateY(-1px);
}

.index-switch-text-selected{
   font-size: 16px;
   font-weight: 500;
   color: white;
   cursor: pointer;
   padding: 10px;
   text-decoration: none;
   transition: color 300ms ease;
    -webkit-transition: color 300ms ease;
  }
    .index-switch-text-selected:hover{
       color:black;
    }

.index-switch-text-not{
   font-size: 16px;
   font-weight: 500;
   text-decoration: none;
   color: rgb(32, 32, 32);
   cursor: pointer;
   padding: 10px;
   text-align: center;
   transition: color 300ms ease;
    -webkit-transition: color 300ms ease;
  }
   
.index-switch-text-not:hover{
   color: #ff350c;
}

.index-div-titles{
   font-size: 24px;
   font-weight: 700;
   color: rgba(255, 53, 12, 0.8);
   text-shadow: 1px 2px 4px white, 0 0 0 #000, 1px 4px 6px white;
   margin-left: 40px;
   text-decoration: none;
   padding: 10px 0px;
}
.index-div-titles-mid{
   margin-bottom: 10px;
   font-size: 24px;
   font-weight: 700;
   color: rgba(255, 53, 12, 0.8);
   text-shadow: 1px 2px 4px white, 0 0 0 #000, 1px 4px 6px white;
}

.index-item{
border: 1px solid rgb(206, 206, 206);
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    color: white;
    transition: box-shadow .3s;
    cursor: pointer;
}

.index-item:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.6);
   transform: translateY(-2px);
}

.index-item a{
   width: 100%;
   height: 100%;
   cursor: pointer;
}

.index-item-image{
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   vertical-align: middle;
}

.index-item-image-text{
   position: absolute;
   bottom: 2px;
   left: 10px;
}

.index-item-image-text-small{
   font-size: 16px;
   color: rgba(255, 255, 255, 0.9);;
   text-shadow: 2px 2px 0 rgba(0,0,0,.26);
   margin-top: 2px;
   margin-bottom: 2px;
   font-weight: 500;
   
}
.index-item-image-text-big{
   font-size: 22px;
   color: white;
   text-decoration: none;
   text-shadow: 3px 3px 0 rgba(0,0,0,.26);
   font-weight: 700;
   margin-top: 2px;
   margin-bottom: 2px;
}

.search-bar-div{
   padding: 10px 0px;
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.search-bar-form{
   width: 70%;
}


.search-bar-input{
   position: relative;
    border: 1px solid lightgray;
    align-items: center;
    color: #858585;
    padding: 0px 10px;
    width: 100%;
    flex-grow: 1;
    display: inline;
    border-radius: 8px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
    margin-right: 10px
}

.search-bar-input:focus{
   box-shadow: 0 0 5px rgb(226, 156, 76);
   border: 1px solid rgb(226, 156, 76);
}


.search-bar-button{
   font-size: 18px;
   font-weight: 500;
   height: 48px;
   line-height: 1.45;
   border-radius: 8px;
   background-color: #FF0C37;
   margin-left: 20px;
   color: white;
   width: 120px;
   cursor: pointer;
   transition: color 300ms ease;
    -webkit-transition: color 300ms ease;
}

.search-bar-button:hover{
   color:black;
}

.groups-search-div{
   padding-top: 30px;
   display: flex;
   margin: 0 auto;
   max-width: 1100px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
   align-items: center;
}

.groups-search-bar-div{
   width: 90%;
}

.groups-index-div-results{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.groups-index-div-results > p{
   stroke: transparent;
color: #404040;
   font-size: 18px;
   font-weight: 500;
   line-height: 1.6;
   letter-spacing: -0.02em;
   word-spacing: 0.1em;
   padding: 10px;
}



.groups-index-div-results{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
}

.group-show-div{
   display: flex;
   margin: 0 auto;
   width: 70vh;
   min-width: 1000px; 
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.group-show-header{
   height: auto;
   display: flex;
   justify-content: flex-start;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.group-show-header-left{
   flex-grow: 3
}

.group-show-header-left-image{
   margin-right: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: auto;
   min-width: 550px;
   max-height: 350px;
   height: auto;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
}

.group-show-header-right{
   flex-grow: 3
}

.group-show-header-right-groupname{
   font-size: 36px;
   font-weight: 500;
   cursor: pointer;
   color: rgba(255, 53, 12, 0.8);
   text-shadow: 1px 2px 4px white, 0 0 0 #000, 1px 4px 6px white;
}

.group-show-header-right div{
   display: flex;
   flex-direction: row;
   align-items: baseline;
}

.group-show-header-right-totalmembers-text{
    padding: 8px 8px;
    cursor: pointer;
    font-size: 22px;
    color: #ff350c;
    font-weight: 500;
}

.group-show-header-right-organized-text{
   color: rgb(63, 63, 63);
   margin-left: 10px;
   margin-top: 2px;
   margin-bottom: 8px;
   font-size:20px;
}

.group-show-stripe{
   display: flex;
   justify-content: flex-start;
   height: 40px;
   padding-top: 10px;
   padding-bottom: 10px;
   z-index: 5;
   border-bottom: 1px rgb(206, 124, 124) solid;
   border-top: 1px rgb(206, 124, 124) solid;
}

.group-show-stripe-left{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   list-style-type: none;
   color: rgb(46, 62, 72);
   font-size: 16px;
   font-weight: 400;
   padding-left: 10px;
}

.group-show-inline-list-item{
   cursor: pointer;
   color: rgb(46, 62, 72);
   font-size: 20px;
   font-weight: 500;
   line-height: 24px;
}

.group-show-inline-list-item:hover{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: rgba(255, 53, 12, 0.8);
    text-shadow: 1px 2px 4px white, 0 0 0 #000, 1px 4px 6px white
}



.group-show-inline-list-item-selected{
   font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    color: rgba(255, 53, 12, 0.8);
    text-shadow: 1px 2px 4px white, 0 0 0 #000, 1px 4px 6px white;
}

.group-show-inline-list > li{
   list-style-type: none;
   display: inline;
   padding: 2px 10px;
}


.group-show-join-button{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #FF0C37;
   color: white;
   border-radius: 6px;
   font-size: 14px;
   font-weight: bold;
   height: 50px;
   width: 140px;
}
.group-show-edit-button{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #FF0C37;
   color: white;
   border-radius: 6px;
   font-size: 14px;
   font-weight: bold;
   height: 50px;
   width: 140px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.group-show-main{
   margin-top: 20px;
   min-height: 500px;
   display: flex;
   justify-content: flex-start;
    -webkit-box-direction: normal;
    flex-direction: row;
   color: rgb(33,33,33)
}

.group-show-main-left{
   width: 55%;
   padding: 10px 10px;
}

.group-show-stripe-left-header{
   padding: 10px 0px;
   font-size: 24px;
   font-weight: 700;
}

.group-show-stripe-left-description{
   font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.group-show-main-right{
   margin-top: 10px;
   width: 45%;
   padding: 10px 20px;

}

.group-show-main-right-organizers{
   font-size: 20px;
   font-weight: 700;
}

.group-show-main-right-organizers-title{
   font-size: 20px;
   font-weight: 700;
}

.group-show-main-right-organizers-info{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.group-show-main-right-organizers-info-text{
   padding-left: 15px;
   font-size: 16px;
   font-weight: 500;
}

.group-show-member-picture-div{
   overflow: hidden
}

.group-show-member-picture{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 80px;
   height: 80px;
   border-radius: 999px;
   box-sizing: border-box;
   vertical-align: middle;
   transition: box-shadow .3s;
}

.group-show-member-picture:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.2);
   transform: translateY(-1px);
}

.group-show-main-right-members{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   margin-top: 32px;
   width:95%;
   display: flex;
   justify-content: space-between;
   margin-right: 10px;
   cursor: pointer;
   align-items: center;
}

.group-show-header-right-location a{
   text-decoration: none;
   padding: 8px 8px;
   cursor: pointer;
   font-size: 22px;
   color: #ff350c;
    font-weight: 500;
}

.group-show-members-right-list{
   width: 100%
}

.group-show-members-right-member{
   display: flex;
   flex-direction: row;
   width: 90%
}

.group-show-members-right-member-li{
   list-style: none;
}

.group-show-members-right-member{
   border-bottom: 1px rgb(206, 124, 124) solid;
   width: 100%;
}

.group-show-members-right-member-img{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 100px;
   height: 100px;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
}

.group-show-members-right-member-info{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.group-show-members-right-member-info p{
   font-size: 20px;
   font-weight: 500;
}

.group-show-main-right-members{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   margin-top: 32px;
}

.group-show-main-right-members-list{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 5px;
}

.group-show-main-right-members-list-item{
   width: 25%;
}

.group-show-member-picture-square{
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 60px;
   height: 60px;
   border-radius: 999px;
   box-sizing: border-box;
   vertical-align: middle;
   transition: box-shadow .3s;
}

.group-show-members{
   margin-top: 20px;
   display: flex
}

.group-show-members-left{
   width: 20%;
   height: fit-content;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 5px 10px;
   margin: 10px 0px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px;
   border-radius: 16px;
}

.group-show-members-left-tab{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   justify-content: space-between;
}

.group-show-members-length{
   padding: 10px 0px;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   cursor: pointer;
}

.group-show-members-right{
   height: fit-content;
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: baseline;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 5px 30px;
   margin: 10px 20px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px;
   border-radius: 16px;
}

.group-show-members-selected{
   padding: 10px 0px;
   font-size: 22px;
   font-weight: 700;
   line-height: 24px;
   color: #f0350c;
   cursor: pointer;
}
.group-show-members-notselected{
   padding: 10px 0px;
   font-size: 20px;
   font-weight: 500;
   line-height: 24px;
   cursor: pointer;
}

.group-show-members-right-member-info-left{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.group-show-members-right-member-info-left section{
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 10px;
}

.group-show-members-right-member-info-left p{
   font-size: 18px;
}

.group-show-members-right-member-info-right{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
}

.group-show-members-right-member-info-right{
   font-size: 20px;
}

.group-show-members-right-header {
   width: 100%;
}

.group-show-filter-input{
   width: 100%;
    font-size: 18px;
    padding: 10px 10px;
    line-height: 20px;
    border-radius: 8px;
    border: 1px solid darkgray;
}

.group-show-filter-input:focus{
   width: 100%;
   font-size: 18px;
   padding: 10px 10px;
   line-height: 20px;
   border-radius: 8px;
   border: 1px solid rgb(206, 124, 124);
}


.group-show-members-right-header p {
   padding: 10px 0px;
   color: rgb(33, 33, 33);
   font-size: 24px;
    font-weight: 700;
}

.group-show-members-right-search{
   width: 100%;
}

.group-show-members-right-search-bar{
   width: 95%;
   line-height: 28px;
   border: 1px lightgrey solid;
   border-radius: 8px;

}

.create-group-main-div{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 80px;
}





.progress {
   position: relative;
   top: 0px;
   width: 100%;
   height: 16px;
   z-index:-1;
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar-0 {
   position:absolute;
   z-index: 1;
   left: 0px;
   width: 20%;
  background-color: #f63a0f;
  height: 23px;
  border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress-bar-1 {
   position:absolute;
   z-index: 1;
   left: 0px;
   width: 40%;
  background-color: #f27011;
  height: 23px;
  border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress-bar-2 {
   position:absolute;
   z-index: 1;
   left: 0px;
   width: 60%;
  background-color: #f2b01e;
  height: 23px;
  border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress-bar-3{
   position:absolute;
   z-index: 1;
   left: 0px;
   width: 80%;
  background-color: #f2d31b;
  height: 23px;
  border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress-bar-4{
   position:absolute;
   z-index: 1;
   left: 0px;
   width: 100%;
  background-color: #86e01e;
  height: 23px;
  border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}









.create-group-completion{
   position: relative;
   top: 0px;
   width: 100%;
   height: 10px;
   z-index:-1;
   background-color: rgb(155, 155, 155);
   border-radius: 1px solid rgb(155, 155, 155);;
}

.create-group-completion-text{
   color: rgb(155, 155, 155);
   font-size: 16px;
   font-weight: 400;
   padding: 10px
}

.create-group-completion-0{

   position:absolute;
   width: 20%;
   background-color: rgb(235, 192, 201);
   height: 10px;
   z-index: 1;
   left: 0px;
}
.create-group-completion-1{
   position:absolute;
   width: 40%;
   background-color: rgb(235, 192, 201);
   height: 10px;
   z-index: 1;
   left: 0px;
}

.create-group-completion-2{
   position:absolute;
   width: 60%;
   background-color: rgb(235, 192, 201);
   height: 10px;
   z-index: 1;
   left: 0px;
}
.create-group-completion-3{
   position:absolute;
   width: 80%;
   background-color: rgb(235, 192, 201);
   height: 10px;
   z-index: 1;
   left: 0px;
}
.create-group-completion-4{
   position:absolute;
   width: 100%;
   background-color: rgb(235, 192, 201);
   height: 10px;
   z-index: 1;
   left: 0px;
}

.create-group-div{
   display: flex;
   margin: 0 auto;
   max-width: 800px;
   flex-direction: column;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.create-group-card-title{
   font-size: 40px;
   font-weight: 1400;
   margin-top: 20px;
   margin-bottom: 20px;

}

.create-group-card-description{
   font-size: 20px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.01em;
   padding-bottom: 10px;
}

.create-group-card-errors{
   font-style: italic;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.01em;
   padding-top: 8px;
   padding-bottom: 8px;
}


.create-group-card-ol li{
   letter-spacing: 0.01em;
   padding-top: 4px;
   font-size: 20px;
}
.create-group-card-ul{
   margin-bottom: 10px;
}
.create-group-card-ul li{
   font-size: 18px;
   letter-spacing: 0.01em;
   padding-top: 4px;
}

.create-group-card-options{
   display: flex;
   align-items: baseline;
   justify-content: flex-start;
   padding: 10px 0px;
}

.create-group-card-selected{
    font-size: 36px;
    padding-right: 15px;
    color: rgba(255, 53, 12, 0.8);
    text-shadow: 1px 2px 4px white, 0 0 0 #000, 1px 4px 6px white;
}

.create-group-card-dropdown-header{
   height: 100%;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
}


.dropdown-caret-down{
   cursor: pointer;
   font-size: 24px;
   width: 25px;
   height: 25px;
   margin-left:4px;
}

.dropdown-caret-up{
   transform: rotate(-180deg);
   transition: all .7s;
   -webkit-transform-origin: 50% 50%;
   -moz-transform-origin: 50% 50%;
   -o-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 25px;
   height: 25px;
   cursor: pointer; 
   font-size: 24px;
   margin-left:4px;
}

.fa-caret-down:hover{
   color:#ff350c;
}


.create-group-card-dropdown-header-title{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: rgba(255, 53, 12, 0.8);
    text-shadow: 1px 2px 4px white, 0 0 0 #000, 1px 4px 6px white
}

.create-group-card-dropdown-header-title-div{
   display:flex;
   flex-direction: row;
   align-items: center;
}

.create-group-card-dropdown-header-delete{
   color: #ff350c;
   cursor: pointer;
}

.create-group-card-dropdown-option{
   font-size:20px;
   font-weight: 500;
   cursor: pointer;
   padding: 12px 0px 12px 10px;
   text-decoration: none;
   color: white;
   transition: color 300ms ease;
    -webkit-transition: color 300ms ease;
  }
    .create-group-card-dropdown-option:hover{
       color:black;
    }


.create-group-card-dropdown-header-list{
    position: absolute;
    background-color: rgba(255, 53, 12, 0.92);
    border-radius: 5px;
    box-shadow: 0 4px 3px 0 rgba(68, 52, 52, 0.3);
    box-sizing: border-box;
    font-size: 16px;
    animation-name: user-dropdown;
    animation-duration: 0.5s;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    z-index: 2;
    min-width: 180px;
}

@keyframes user-dropdown {
    0%   {transform: translate(-3em,0); opacity: 0;}
    100% {transform: translate(0em,0); opacity: 1;}
}

.create-group-card-dropdown-header-list-item{
    padding: 20px 20px 10px 8px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color: white;
       transition: color 300ms ease;
    -webkit-transition: color 300ms ease;
  }
    .create-group-card-dropdown-header-list-item:hover{
       color:black;
    }


.create-group-card-dropdown-option-hidden{
   display:none;
}

.create-group-footer{
   margin: auto auto 0 auto;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
   width: 100%;
   height: 80px;
   padding: 0px 10px;
   border-top: 1px lightgray solid;
   left: 0px;
   flex-shrink: 0;
   position: fixed;
   bottom: 0px;
   background-color: white;
}

.create-group-footer-prev{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color:white;
   color: rgb(70, 70, 70);
   border-radius: 6px;
   border: 1px rgb(197, 197, 197) solid;
   font-size: 18px;
   font-weight: bold;
   height: 50px;
   width: 180px;
   margin-left: 20px;
}

.create-group-footer-next{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   background-color: #FF0C37;
   color: white;
   border-radius: 6px;
   font-size: 18px;
   font-weight: bold;
   height: 50px;
   width: 180px;
   text-align: center;
   margin-right: 20px;
   transition: color 300ms ease;
    -webkit-transition: color 300ms ease;
  }
    .create-group-footer-next:hover{
       color:black;
    }

.create-group-card-options-categories{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}

.create-group-card-options-categories-button{
   margin: 10px 10px;
   padding: 10px;
   background-color: white;
   border-radius: 20px;
   border: #ff350c 1px solid;
   color: #ff350c;
   font-weight: 500;
   height: 40px;
   font-size: 18px;
   cursor: pointer;
   transition: color 300ms ease;
    -webkit-transition: color 300ms ease;
  }
    .create-group-card-options-categories-button:hover{
       color:white;
      background-color: #ff350c;
    }

.create-group-card-options-categories-button-selected{
   margin: 10px 10px;
   background-color: #ff350c;
   padding: 10px;
   border-radius: 20px;
   border: #ff350c 1px solid;
   color: white;
   font-weight: 500;
   height: 40px;
   font-size: 18px;
   cursor: pointer;
}

.create-group-card-name-field{
   padding: 8px;
   border: 1px grey solid;
   border-radius: 4px;
   width: 100%;
   font-size: 18px;
   height: 30px;
}

.create-group-card-name-field:focus{
   box-shadow: 0 0 5px rgb(226, 156, 76);
   border: 1px solid rgb(226, 156, 76);
}

.create-group-card-name-field-big{
   padding: 5px;
   border: 1px grey solid;
   border-radius: 4px;
   width: 100%;
   font-size: 18px;
   height: 200px;
   vertical-align: top;
   line-height: 1.5;
}

.create-group-card-name-field-big:focus{
   box-shadow: 0 0 5px rgb(226, 156, 76);
   border: 1px solid rgb(226, 156, 76);
}

.fa-backspace{
   right: 10px;
   opacity: 30%;
}

.event-show{
   margin-bottom: 70px;
}

.event-show-banner{
   border-bottom: 1px solid lightgray;
   height: 80px;
}

.event-show-banner-inter{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   max-width: 1000px;
   min-width: 900px;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.event-show-banner-left{
   flex-grow: 3;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.event-show-banner-left h3{
    padding: 5px 0px;
    margin: 0;
    color: #ff350c;
    font-size: 28px;
    text-shadow: 1px 1px lightgrey;
}
.event-show-banner-left p{
    color: rgb(43, 43, 43);;
    font-size: 22px;
    text-shadow: 1px 1px lightgrey;
}

.event-show-banner-right{
   flex-grow: 2;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

.event-show-banner-right img{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 80px;
   height: 60px;
   border-radius: 12px;
   box-sizing: border-box;
   vertical-align: middle;
   padding: 0px 10px
}


.event-show-banner-right-text p{
   padding: 5px 0px;
   margin: 0; 
   font-size: 18px;
   font-weight: 500;
}

.event-show-footer{
   margin: auto auto 0 auto;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
   width: 100%;
   padding: 0px;
   border-top: 1px lightgray solid;
   left: 0px;
   flex-shrink: 0;
   background-color: white;
   clear: both;
   position: fixed;
   height: 70px;
   bottom: 0px;
}

.event-show-footer-inter{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   max-width: 1000px;
   min-width: 900px;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.event-show-footer-left-title{
   font-weight: 700;
   font-size: 20px;
   padding-bottom: 5px;
}

.event-show-header-left{
   flex-grow: 3;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.event-show-header-left h3{
   margin: 0px 0px;
}
.event-show-header-left p{
   margin: 0px 0px;
}

.event-show-header-right{
   flex-grow: 2;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.event-show-header-right div p{
   padding: 10px 0px;
   font-size: 18px;
}

.event-show-main{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 auto;
   max-width: 1000px;
   min-width: 1000px;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 100%;
   min-height: auto;
}

.event-show-main-left{
   width: 55%;
   padding: 10px 0px;
}
.event-show-main-left img{
   max-width: 100%;
   min-width: 100%;
   border-radius: 15px;
}

.event-show-description{
   padding: 10px 10px;
   line-height: 28px;
   font-size: 18px;
}


.event-show-main-left-members{
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   margin-top: 32px;
   width:95%;
   display: flex;
   justify-content: space-between;
   margin-right: 10px;
   cursor: pointer;
   align-items: center;
}


.event-show-main-left-members-list{
   display: flex;
   width: 98%;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 5px;
}

.event-show-members-right-list{
   width: 100%
}

.event-show-member-picture-div{
   background-color: rgb(245, 245, 245);
   border-radius: 10px;
   border: 1px solid  rgb(245, 245, 245);
   width: 20%;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 10px;
   transition: box-shadow .3s;
}

.event-show-member-picture-div:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.2); 
   transform: translateY(-1px);
}

.event-show-member-picture{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 90px;
   height: 90px;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
   padding: 0px 10px
}


.event-show-main-right{
   width: 45%;
   padding: 10px 0px;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
}

.event-show-main-right-groupinfo{
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: rgb(245, 245, 245);
   border-radius: 8px;
   width: 300px;
   height: 70px;
   padding: 10px 20px;
   cursor: pointer;
   text-decoration: none;
}

.event-show-main-right-groupinfo img{
   width: 70px;
   height: 70px;
   border-radius: 10px;
}

.event-show-main-right-groupinfo p{
padding-left: 15px;
    line-height: 25px;
    color: #ff350c;
    font-size: 18px;
    font-weight: 700;
}

.event-show-main-right-eventinfo{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.event-show-main-right-infobox{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   background-color: rgb(245, 245, 245);
   border-radius: 8px;
   width: 300px;
   height: 50px;
   padding: 20px;
   margin: 15px 0px;
}

.event-show-main-right-infobox div p{
   padding: 6px 14px;
   color: rgb(33, 33, 33);
   font-weight: 500;
   font-size:18px;
   line-height: 20px;
}

.event-show-main-right-infobox a{
   padding-left: 15px;
    line-height: 25px;
    color: #ff350c;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}


.event-show-join{
   font-size: 20px;
   font-weight: 1200;
   height: 54px;
   line-height: 1.3;
   border-radius: 8px;
   background-color: #FF0C37;
   margin-left: 20px;
   color: white;
   width: 180px;
   cursor: pointer;
}







.group-show-events{
   margin-top: 20px;
   display: flex
}

.group-show-event-index-item{
   width:100%;
}

.group-show-create-event-button{
    font-size: 28px;
    font-weight: 500;
    color: rgba(255, 53, 12, 0.8);
    text-shadow: 1px 2px 4px white, 0 0 0 #000, 1px 4px 6px white;
    text-decoration: none;
    cursor:pointer;
    height: 50px;
}





.group-show-events-main{
   margin: 10px;
   height: fit-content;
   padding: 10px;
   flex-grow: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 20px;

}

.group-show-events-header p {
   padding: 10px 0px;
   color: rgb(33, 33, 33);
   font-size: 20px;
   font-weight: 500;
}

.group-show-events-search{
   width: 80%;
}

.group-show-events-search-bar{
   width: 100%;
   line-height: 28px;
   border: 1px lightgrey solid;
   border-radius: 8px;
}

.group-show-events-list{
   width: 100%;
   max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-show-event-datedivider{
   text-align: center;
   background-color: rgb(63, 48, 48);
   border-radius: 8px;
   padding: 15px;
   font-size: 24px;
   font-weight: 500;
   color:white
}

.group-show-events-li{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 5px 10px;
   margin: 10px 0px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px;
   border-radius: 16px;
}  
.group-show-events-li:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.2);
   transform: translateY(-1px);
}

.group-show-events-li-container{
   width:100%;
   max-width: 600px;
}

.group-show-events-event-div{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 0px 15px;
   font-size: 18px;
}

.group-show-events-event-div-top{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.group-show-events-event-div-top p{
   font-size: 22px;
   font-weight: 700;
}


.group-show-events-event-div-bottom{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.group-show-events-event-title{
   font-size: 24px;
   font-weight: 700; 
}

.group-show-events-event-info{
   line-height: 2em;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.group-show-events-event-info > *{
   padding: 2px 0px;
}

.group-show-events-event-info > p{
   font-size: 16px;
   font-weight: 700;
}

.group-show-events-event-info > a{
   font-size: 18px;
   font-weight: 700;
   text-decoration: none;
   color: rgb(255, 53, 12);
}

.group-show-events-event-link{
   border-radius: 10px;
   padding: 0px 10px;
   min-width: 350px;
   min-height: 200px;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}

.group-show-events-info p{
   line-height: 1.45em;
   padding: 8px 16px;
}


.group-show-events-img{
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: auto;
   max-height: 200px;
   max-width: 275px;
   height: auto;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
}

.create-event-images{
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-wrap: wrap;
}

.create-event-image{
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 240px;
   height: 175px;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
   transition: box-shadow .3s;
   border: 2px solid black;
   margin: 5px;
}

.create-event-image-selected{
   background-position: 50%;
   background-size: cover;
   height: auto;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
   transition: box-shadow .3s;
   border: 2px solid rgb(255, 171, 213);
   margin: 5px;
   width: 240px;
   height: 175px;
}

.text-link{
   text-decoration: none;
   color: #ff350c;
   padding: 14px 14px;
   cursor: pointer;
}

.create-group-card-options-dates-category{
   font-size: 20px;
   color: #ff350c;
}

.date{
   color: #ff350c;
   padding: 10px;
   font-size: 16px;
}






.chat-main{
   padding: 0px 15px 0px 0px;
   display: flex;
   margin: 0 auto;
   width: 80%;
   letter-spacing: 0.01em;
   flex: 1 0 auto;
   height: 85vh;
   min-height: auto;
   background-color: rgb(43, 43, 43);
   border: 3px solid rgb(112, 112, 112);
   border-radius: 8px;
   flex-direction: row;
   color: rgb(231, 231, 231) !important;
}

.chat-main i{
   color: rgb(226, 156, 76);
   cursor:pointer;
}

.chat-main-left{
   display: flex;
   flex-direction: row;
   width: 40%;
   max-width: 400px;
   border-radius: 8px;
}

.chat-main-right{
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-left: 30px;
}

.chat-group-index{
   display:flex;
   flex-direction: column;
   width: 25%;
    min-width: 90px;
   overflow: scroll;
   align-items: center;
   padding-top: 10px;
}


.chat-group-index-item img{
   margin:10px;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 60px;
   height: 60px;
   border-radius: 999px;
   box-sizing: border-box;
   vertical-align: middle;
   transition: box-shadow .3s;
   cursor:pointer;
}

.chat-group-index-item img:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.2);
   transform: translateY(-1px);
}

.chat-channel-index{
   display:flex;
   flex-direction: column;
   width: 75%;
   min-width: 200px;
   background-color: rgb(53, 53, 53);
   padding: 20px 10px 10px 10px;
   overflow: scroll;
   font-size: 20px;
   
}

.chat-channel-index > p{
   font-weight: 700;
    color: rgb(226, 156, 76);
    font-size: 26px;
}

.chat-channel-index-item{
   font-size: 18px;
   color: lightgray;
   padding: 8px 0px;
   cursor:pointer;
}
.chat-channel-index-item-notify{
   font-size: 18px;
   color: white;
   padding: 5px 0px;
       cursor: pointer;
}

.chat-channel-dm-div{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: baseline;
  margin:  20px 0px 10px 0px;
}

.chat-channel-dm-div p{ 
   color: white;
}

.chat-channel-create{
   position: relative;
   left: 38%;
   width: 16%;
    border-radius: 10px;
    background-color: rgb(226, 156, 76);
    color: #404040;
    text-align: center;
    padding: 20px;
    font-weight: 700;
    font-size: 24px;
    margin: 20px;
}

.chat-channel-list p{
   margin: 8px 0px;
   color: white;
}


.chat-info-bar-wrapper{
   display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat-info-bar{
    min-height: 50px;
    display: flex;
    flex-direction: row;
    height: 15%;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(226, 156, 76);
    align-items: center;
}

.chat-info-bar a{
    color: rgb(226, 156, 76);
    font-size: 20px;
    text-decoration: none;
}

.chat-info-dropdown{
   background-color: rgb(53, 53, 53);
    z-index: 2;
    position: absolute;
    top: 20%;
     max-height: 700px;
    overflow: scroll;
    border-radius: 10px;
    min-width: 250px;
    padding: 10px;
   animation-name: user-dropdown;
   animation-duration: 0.5s;
}

.chat-info-bar > p{
   color: lightgray;
   font-size:24px
}


.chat-info-bar-users{
   color: lightgray;
   font-size:20px;
   display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-info-bar-users p{
   color: rgb(231, 231, 231);
   font-size:24px;

}

.chat-info-bar-users i{
   color: rgb(226, 156, 76);
   cursor: pointer;
   padding-right: 10px;
   font-size:24px;
}

.chat-info-bar-users-item{
   display: flex;
    padding: 10px;
    align-items: center;
}

.chat-info-bar-users-item:hover{
   background-color: rgb(92, 92, 92);
}

.chat-info-bar-users-item p{
    padding-left: 10px;
    font-size: 22px;
    color:  rgb(231, 231, 231);
}

.chat-info-bar-add{
   width: 50%;
    border-radius: 10px;
    background-color: rgb(226, 156, 76);
    color: #404040;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 24px;
    margin-top:20px;
    margin-bottom:20px;
}

.chat-info-bar-add p{
   width:100%;
}


.chat-display{
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   overflow: scroll;
}

.chat-message{
   display: flex;
   flex-direction: row;
   align-items: center;
   font-weight: 700;
   margin: 15px 0px 15px 0px;
}

.chat-message:hover{
   background-color:rgb(82, 82, 82);
   cursor: pointer;
}

.chat-message-img{
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 50px;
   height: 50px;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
   transition: box-shadow .3s;
}

.chat-message-img2{
  background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 50px;
   height: 50px;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
   transition: box-shadow .3s;
   position: relative;
   left: -30px;
   top: 10px;
}

.chat-message img:hover{
   box-shadow: 0 0 20px rgba(175, 0, 0, 0.2);
   transform: translateY(-1px);
}

.chat-message-right{
   width: 90%;
   padding-left:15px;
}

.chat-message-info{
   display: flex;
   flex-direction: row;
   color: white;
   align-items: center;
}


.chat-message-name{
   padding: 5px;
   color: white;
}

.chat-message-datedivider{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid rgb(104, 72, 36);
   line-height: 0.1em;
   margin: 20px 0px 10px 0px;
}

.chat-message-datedivider span{
   background:rgb(43, 43, 43); 
   padding:0px 10px; 
   color: lightgray;
   font-size: 18px;
}

.chat-message-name{
   padding: 5px;
   font-size: 20px;
   color: white;
}

.chat-message-time{
   padding: 5px;
   color: rgb(165, 165, 165);
}

.chat-message-message p{
   padding: 2px 5px;
   font-size:18px;
   color: lightgray;
   font-weight: 100;
}

.message-list{
   overflow: scroll;
   width: 100%;
   margin-bottom: 30px;
   margin-left: 60px;
}



.chat-dm-modal{
   width: 95%;
    max-width: 1200px;
    height: 90%;
   position: absolute;
   background: white;
   border: 1px solid #ccc;
   transition: 0.5s ease-out;
   filter: blur(0);
   transform: scale(1);
   opacity: 1;
   visibility: visible;
   background-color: rgb(43, 43, 43);
   border-radius: 8px;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index:2;
   left: 50%;
   top: 52%;
   transform: translate(-50%, -50%);
   overflow: scroll;
}

.chat-dm-actions{
   display: flex;
   width: 100%;
   align-items: baseline;
   flex-direction: row-reverse;
   position: absolute;
}

.chat-dm-actions i{
   font-size: 32px;
   cursor: pointer;
   padding: 10px;
}

.chat-dm-content{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 90%;
   max-width: 900px;
}

.chat-modal-large{
   font-size: 28px;
   font-weight: 500;
   padding: 15px 0px;
}

.chat-modal-medium{
   font-size: 20px;
   font-weight: 400;
   padding: 15px 0px;
}

.chat-modal-small{
   color: lightgray;
   font-weight: 200;
   font-size: 18px;
   padding: 15px 0px;
}


.chat-dm-search-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}


.chat-dm-search-container input:focus{
    box-shadow: 0 0 10px rgba(47, 79, 79,1);
    border: 3px solid rgba(47, 79, 79,1);
}

.chat-dm-search{
   box-sizing: border-box;
   height: 55px;
   width: 100%;
   vertical-align: bottom;
   font-size: 20px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   border-radius: 8px;
   padding: 15px 10px;
   background-color: lightgray;
   margin-right: 20px;
   color: rgb(43, 43, 43);
}


.chat-dm-search-go{
   width: 15%;
    border-radius: 10px;
    background-color: rgb(226, 156, 76);
    color: #404040;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    font-size: 24px;
}

.chat-channel-dm-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}

.chat-channel-dm-container-selected{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    background-color: rgb(92, 92, 92);
}

.circle-selected{
   color: green;
}

.chat-channel-dm-container:hover{
   background-color: rgb(92, 92, 92);
}

.chat-channel-index-item-left{
   display: flex;
   flex-direction: row;
   align-items: center;
}

.chat-channel-index-item-left i{
    font-size: 14px;
    margin-right: 10px;
}

.chat-channel-dm-container > i{
   font-size: 18px;

}

.remove-button{
   font-size: 18px
}



.chat-message-form {
   width: 95%;
   bottom: 10px;
   position: relative;
}

.chat-message-form textarea{
    padding: 10px;
    font-size: 18px;
    width: 100%;
    height: 50px;
    max-height: 100px;
    border: 0.8px solid rgb(168, 168, 168);
    border-radius: 5px;
    background-color: white;

}

.chat-message-form textarea:focus{
    box-shadow: 0 0 10px rgba(47, 79, 79,1);
    border: 5px solid rgba(47, 79, 79,1);
}

.chat-modal-list{
   overflow: scroll;
   width: 100%;
   max-height: 65vh;
}

.chat-modal-list > div{
    color: lightgray;
    font-weight: 200;
    border-bottom: 1px solid rgb(226, 156, 76);
    font-size: 20px;
    padding: 20px 0px;
}

.chat-modal-list-item{
   color:lightgray;
   padding: 10px 0px;
   border-bottom: 1px solid rgb(226, 156, 76);
   flex-direction: row;
   display: flex;
   width: 100%;
   align-items: center;
   
}

.chat-modal-list-item:hover{
   background-color: rgb(68, 78, 87);
}

.chat-modal-list-item p{
    color: lightgray;    
    padding-left: 20px;
    font-size: 18px;
}

.chat-horiz-list{
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0px;
    width: 100%;
}

.chat-horiz-list-item{
   display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(226, 156, 76);
    border-radius: 8px;
    padding: 10px;
    justify-content: space-around;
    margin-right: 15px;
}

.chat-horiz-list-item p{
   color: white;
   text-shadow: 1px 1px black;
   font-size: 22px;
   padding: 0px 10px;
   font-weight: 500;
}

.chat-horiz-list-item i{
   color: white;
   text-shadow: 1px 1px black;
   font-size: 18px;
}


.chat-dm-errors{
   display: flex;
   flex-direction: column;
   width: 90%;
   list-style: none;
}

.chat-dm-errors-item{
   font-size: 22px;
    color: white;
    margin: 10px 0px;
}

.chat-dm-icon-index{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 50%;
    flex-wrap: wrap;
}

.chat-dm-icon-index-item{
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 75px;
   height: 75px;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
   transition: box-shadow .3s;
   margin: 20px 50px;
}

.chat-dm-icon-index-item-selected{
   border: 2px solid rgb(226, 156, 76);
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   width: 75px;
   height: 75px;
   border-radius: 10px;
   box-sizing: border-box;
   vertical-align: middle;
   transition: box-shadow .3s;
   margin: 20px 50px;
}